[user]
  email = wevertonms@gmail.com
  name = Weverton Marques

[credential]
  helper = store

[color]
  diff   = auto
  status = auto
  branch = auto
  ui     = true

[core]
  excludesfile = ~/.gitignore
  editor       = nvim
  whitespace   = cr-at-eol
  pager        = delta

[apply]
  whitespace = nowarn

[help]
  autocorrect = 1

[pull]
  default = current

[push]
  default = current

[interactive]
  diffFilter = delta --color-only

[delta]
  line-numbers = true
  side-by-side = true
  line-numbers-left-format = ""
  line-numbers-right-format = "│ "
  syntax-theme = Monokai Extended
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
